:root {
  --primary: #a84fff;
  --secondary: #d81e5b;
  --dark: black;
  --light: rgb(230, 203, 229);
  --grey: #888888;

  --font: 'Fira Sans', sans-serif;
  --font-quote: 'Fira Code', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("https://free4kwallpapers.com/uploads/originals/2021/05/08/anime-scenery-k-sx-wallpaper.jpg");
  background-size: 1350px 759px;
}

.quote {
  position: relative;
}

h2 {
  font: var(--font);
  font-size: 24px;
  padding: 10px;
  color: rgba(224, 255, 255, 0.89);
}

blockquote {
  font-family: var(--font-quote);
  max-width: 720px;
  font-size: 1.8rem;
  background-color: rgba(18, 18, 19, 0.6);
  padding: 3rem;
  border-radius: 2rem;
  border-radius: 2rem;
  color: white;

}

.anime, .character {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  color: var(--light);
  border-radius: 1.5rem;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 1px;
  max-width: 360px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.anime {
  background-color: var(--secondary);
  font-weight: 400;
  transform: translate(-25%, 50%);
}

.character {
  background-color: var(--primary);
  font-weight: 400;
  transform: translate(25%, 50%);
  position: absolute;
  right: 0;
  bottom: 0;
}

button {
  appearance: none;
  border: none;
  outline: none;
  background-color: rgb(240, 100, 198);
  color: white;
  padding: 20px 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: 0.4s;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  border-radius: 1.5rem;
}

button:hover {
  background-color: var(--secondary);
}

@import url("https://fonts.googleapis.com/css?family=Lato:300");


.shimmer {
		font-family: "Lato", var(--font);
		font-weight: 900;
		font-size: 50px;
    color: white;
    text-align: center;
		
}


.shimmer {
  
		color: rgba(253, 253, 253, 0.699);
		background: -webkit-gradient(linear, left top, right top, from(rgba(228, 98, 98, 0.356)), to(rgba(68, 8, 18, 0.082)), color-stop(0.5, #fff));
		background: -moz-gradient(linear, left top, right top, from(rgba(139, 39, 39, 0.699)), to(rgba(228, 41, 41, 0.342)), color-stop(0.5, #fff));
		background: gradient(linear, left top, right top, from(rgba(212, 10, 10, 0.822)), to(rgba(34, 34, 34, 0.144)), color-stop(0.5, #fff));
		-webkit-background-size: 125px 100%;
		-moz-background-size: 125px 100%;
		background-size: 125px 100%;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		-webkit-animation-name: shimmer;
		-moz-animation-name: shimmer;
		animation-name: shimmer;
		-webkit-animation-duration: 1.9s;
		-moz-animation-duration: 1.9s;
		animation-duration: 1.9s;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		background-repeat: no-repeat;
		background-position: 0 0;
		
}

@-moz-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-webkit-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-o-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@media screen and (min-width: 340px) and (max-width: 420px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("https://free4kwallpapers.com/uploads/originals/2021/05/08/anime-scenery-k-sx-wallpaper.jpg");
    background-size: 1550px 1059px;
  }

  blockquote {
    font-family: var(--font-quote);
    max-width: 260px;
    font-size: 1.3rem;
    padding: 2.0rem;
  }

  .anime, .character {
    font-size: 0.9rem;
    padding: 0.55rem 1.25rem;
    max-width: 180px;
  }
}

h2 {
  font-size: 18px;
}

button {

  padding: 15px 35px;
  margin-top: 40px;
  margin-bottom: 30px;
  transition: 0.4s;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
}

@media screen and (min-width: 420px) and (max-width: 600px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("https://free4kwallpapers.com/uploads/originals/2021/05/08/anime-scenery-k-sx-wallpaper.jpg");
    background-size: 1550px 1059px;
  }

  blockquote {
    font-family: var(--font-quote);
    max-width: 300px;
    font-size: 1.4rem;
    padding: 2.0rem;
  }

  .anime, .character {
    font-size: 1rem;
    padding: 0.55rem 1.25rem;
    max-width: 180px;
  }
}

h2 {
  font-size: 18px;
}

button {
  font-size: 19px;

}

@media screen and (min-width: 0px) and (max-width: 340px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("https://free4kwallpapers.com/uploads/originals/2021/05/08/anime-scenery-k-sx-wallpaper.jpg");
    background-size: 1550px 1059px;
  }

  blockquote {
    font-family: var(--font-quote);
    max-width: 240px;
    font-size: 1.2rem;
    padding: 2.0rem;
  }

  .anime, .character {
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
    max-width: 140px;
  }
}

h2 {
  font-size: 18px;
}

button {
  font-size: 15px;

}

@media screen and (min-width: 600px) and (max-width: 950px) {
  .App {
    background-image: url("https://free4kwallpapers.com/uploads/originals/2021/05/08/anime-scenery-k-sx-wallpaper.jpg");
    background-size: 1950px 1059px;
    background-position: 50% 60%;
  }

  blockquote {
    font-family: var(--font-quote);
    max-width: 550px;
    font-size: 1.8rem;
    padding: 2.0rem;
  }

  .anime, .character {
    font-size: 1.2rem;
    padding: 0.55rem 1.25rem;
    max-width: 260px;
  }
  h2 {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  
  button {
    font-size: 22px;
    margin-top: 50px;
  
  }
  
  .shimmer {
    font-size: 70px;
  }
}

@media screen and (min-width: 100px) and (max-width: 340px) {
  .App {
    background-image: url("https://free4kwallpapers.com/uploads/originals/2021/05/08/anime-scenery-k-sx-wallpaper.jpg");
    background-size: 1500px 800px;

  }

  blockquote {
    font-family: var(--font-quote);
    max-width: 210px;
    font-size: 1.1rem;
    padding: 2.0rem;
  }

  .anime, .character {
    font-size: 0.6rem;
    padding: 0.40rem 1.1rem;
    max-width: 130px;
  }
  h2 {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  
  button {
    font-size: 12px;
    padding: 14px 22px;
  
  }
  
  .shimmer {
    font-size: 40px;
    
  }
}

@media screen and (min-width: 1200px) {
  .App {
    background-image: url("https://free4kwallpapers.com/uploads/originals/2021/05/08/anime-scenery-k-sx-wallpaper.jpg");
    background-size: 1500px 800px;

  }

}


